<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Make Trivia Great Again!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <img class="triviaImg" src="../img/trivia-logo.png" alt="trivia logo">
      <h1 class="rainbow-text">
        <a href="/">Make Trivia Great Again</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/scores">Scores</a> 
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{!-- Wheel and Questions and Answers --}}
      {{{body}}}
     

      <script src="/js/script.js"></script>
</body>

</html>
</main>
<footer>

</footer>
</div>

<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>