 <div class="row">
        <div class="col">
          <div id="chart"></div>
        </div>
        <div class="col">
          <div id="question">
            <h1></h1>
          </div>
        </div>
        <div class="col">
          <div id="answers"  class="hide" >
            <form class="form">
            </form>
          </div>
        </div>
      </div>