<div id="box" class="box">
  <div class="box1">
    <span class="span1 category"><b>History</b></span>
    <span class="span2 category"><b>Animals</b></span>
    <span class="span3 category"><b>Sports</b></span>
    <span class="span4 category"><b>Celebrities</b></span>
  </div>
  <div class="box2">
    <span class="span1 category"><b>Geography</b></span>
    <span class="span2 category"><b>Art</b></span>
    <span class="span3 category"><b>Movies</b></span>
    <span class="span4 category"><b>Mythology</b></span>
  </div>
</div>
<button class="spin" onclick="rotateFunction()">SPIN</button>