* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

text{
        font-family:Helvetica, Arial, sans-serif;
        font-size:11px;
        pointer-events:none;
    }
    #chart{
        position:absolute;
        width:500px;
        height:500px;
        top: 25%;
        left:25%;
    }
    #question{
        position: absolute;
        width:400px;
        height:500px;
        top:25%;
        left:65%;
    }
    #question h1{
        font-size: 25px;
        color: white;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        padding: 0;
        margin: 0;
        top:50%;
        -webkit-transform:translate(0,-50%);
                transform:translate(0,-50%);
    }
    

    header,
    .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
    background-color: black;
    color: #ccc;
    }

  .rainbow-text {
  background-color:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.triviaImg {
  float: left;
  margin: 1%;
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
  border-style: none;
  border-radius: 50px;
}

body {
  font-family: "Open Sans";
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  /* overflow: hidden; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 0%
  );
  background-size: cover;
}

.chartholder {
  background-color: blue;
}

.hide {
  display: none;
}

.form {
  color: white;
  /* position: relative; */
  top: 500px;
  left: 825px;
}

#answers {
  color: white;
  position: relative;
  top: 500px;
  left: 825px;
}

#score {
  color: white;
  font-size: x-large;
  border-style: outset;
  width: 15%;
}

#login , #signup {
  color: white;
  border: none;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

